<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

      <a class="navbar-brand" href="#" (click)="getAll()">          
        <i class="fa-solid fa-feather-pointed" style="color: #63E6BE;"></i> 
        TripLog
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form> -->
        @if(!activeUser){
          <button type="button" #loginModalBtn class="btn btn-outline-light btn-lg btn-light-big me-2" style="display: flex; align-items: center; padding: 6px 22px; margin-right: 120px !important;" data-bs-toggle="modal" data-bs-target="#loginModal">
            <div>
              <p class="avatar-login-text"><i class="fa-solid fa-plane-arrival me-2"></i>Giriş Yap</p>
            </div>
          </button>
        }
        @else {
          <div class="dropdown">
            <button class="btn btn-outline-light btn-lg btn-light-big me-2" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="display: flex; align-items: center; padding: 6px 12px;" [style.margin-right]="activeUser.isAuthor ? '' : '120px !important'">
              <div class="avatar-login">
                {{activeUser.userName[0]}}
               </div> 
               <div>
                 <p class="avatar-login-text dropdown-toggle">{{activeUser.userName}}</p>
               </div>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" (click)="singOut()" ><i class="fa-solid fa-plane-departure me-2"></i>Çıkış Yap</a></li>
            </ul>
          </div>
        }

        @if(activeUser?.isAuthor==true){
          <button type="button" class="btn btn-light btn-light-big" data-bs-toggle="modal" #openModel data-bs-target="#tripModal">Buradan Bir Gezi Ekle</button>
        }
      </div>
    </div>
  </nav>

  <div class="container" id="mainPage">
<!--  -->
    @for (trip of tripModel; track trip) {

      <div class="card posts" style="width: 100%;">

          <div class="card-main">
              <div class="card-left">            
                  <img src="{{tripsImage}}{{trip.imageUrl}}" class="card-img-top" alt="...">
              </div>
              <div class="card-right">
                  <div class="card-body tripbody">
                    <div>
                      <h6 class="title" style="float: right; margin-top: 3px;">{{ trip.createdDate | date: 'yyyy-MM-dd : HH-mm' }}</h6>
                      <h5 class="card-title title">{{trip.title}}</h5>
                      <p class="card-text">{{trip.description}}</p>
                    </div>  
                  <div>
                    @for (tag of trip.tags; track tag) {
                      @if (tag != null) {
                        <a href="#{{tag.name}}" (click)="GetFromTag(tag.name)">#{{tag.name}}</a>&nbsp;&nbsp;
                      }
                    }
                        <br><br>
                        <a href="#" style="width: 100%;" class="btn btn-light more-content" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + $index" aria-expanded="false" aria-controls="collapse" style="margin-top:auto; ">Daha Fazlası İçin 🔽</a>
                        <span class="ms-4">Yazar :  <a class="userLink" href="#{{trip.appUser.userName}}">{{trip.appUser.userName}}</a></span>
                        @if(trip.appUserId == activeUser?.id){
                          <i class="fa-solid fa-x mt-1 me-2 edit-button" style="background-color:red;" title="Delete This Post" (click)="deleteTrip(trip.id,trip.title)"></i>
                          <i class="fa-solid fa-pen-nib mt-1 me-2 edit-button" style="padding: 12px 13px; background-color: rgb(0, 192, 134);" title="Edit This Post" (click)="openUpdateModal(trip)" data-bs-toggle="modal" #openModel data-bs-target="#updateTripModal"></i>
                        }
                    </div>
                  </div>
              </div>
          </div>
  
             <div class="accordion" id="accordionExample" style="display: flex; justify-content: space-between; flex-wrap: wrap; flex-direction: row;">
               <div class="contentSide" style="flex: 3rem;">
                 
                 <div class="accordion-item" style="border-radius: 0px 0px 0px 5px ;">
                   <h2 class="accordion-header"></h2>
                   <div id="collapse{{$index}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <hr style="margin: 0px; padding: 0px; width: 98%; float: right;">
                      <div class="accordion-body">
                        <div id="carousel{{$index}}" class="carousel slide">
                          <div class="carousel-inner">
                            @for (content of trip.tripContents; track content) {
                                <div [ngClass]="{'carousel-item':true, 'active':$index == 0}">
                                  <img src="{{contentsImage}}{{content.imageUrl}}" class="d-block w-100 carousel-img" alt="...">
                                  <div class="card-body" style="height: 200px; overflow-y: auto;">
                                    <h5 class="card-title">{{$index+1}}. {{content.title}}</h5>
                                    <p class="card-text">{{content.description}}</p>
                                  </div>
                                </div>
                            }
                            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel' + $index" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel' + $index" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

              </div>

              <div class="commentSide" style="flex: 1rem; height: auto; width: auto;">
      
                <div class="collapse" id="collapse{{$index}}">
                  <hr style="margin: 0px; padding: 0px; width: 100%;">
                  <div class="card card-body comment-place" style="width: auto; height: 734px; border-radius: 0px 0px 5px 0px;">
                    <h5>Comment Area</h5>
                  
                    <!-- Yorum listesi -->
                    <div class="list-group p-1" style="overflow-y: auto; height: 500px; border: 1px;">
                      <!-- Yorumlara For -->
                      <div class="list-group-item">
                        <div class="avatar">
                          B
                        </div>
                          <div class="comment-content">
                            <strong>Brenda Lee</strong>
                            <p class="mb-0">Bu makaleyi çok bilgilendirici buldum, teşekkürler!</p>
                          </div>
                      </div>

                      <div class="list-group-item">
                        <div class="avatar">
                          B
                        </div>
                          <div class="comment-content">
                            <strong>Brenda Lee</strong>
                            <p class="mb-0">Bu makaleyi çok bilgilendirici buldum, teşekkürler!</p>
                          </div>
                      </div>

                      <div class="list-group-item">
                        <div class="avatar">
                          B
                        </div>
                          <div class="comment-content">
                            <strong>Brenda Lee</strong>
                            <p class="mb-0">Bu makaleyi çok bilgilendirici buldum, teşekkürler!</p>
                          </div>
                      </div>

                      <div class="list-group-item">
                        <div class="avatar">
                          B
                        </div>
                          <div class="comment-content">
                            <strong>Brenda Lee</strong>
                            <p class="mb-0">Bu makaleyi çok bilgilendirici buldum, teşekkürler!</p>
                          </div>
                      </div>

                      <div class="list-group-item">
                        <div class="avatar">
                          B
                        </div>
                          <div class="comment-content">
                            <strong>Brenda Lee</strong>
                            <p class="mb-0">Bu makaleyi çok bilgilendirici buldum, teşekkürler!</p>
                          </div>
                      </div>

                      <div class="list-group-item">
                        <div class="avatar">
                          B
                        </div>
                          <div class="comment-content">
                            <strong>Brenda Lee</strong>
                            <p class="mb-0">Bu makaleyi çok bilgilendirici buldum, teşekkürler!</p>
                          </div>
                      </div>

                    </div>

                    <div class="add-comment mt-2">
                      <div class="card card-body">
                        <h5>Leave A Comment!</h5>
                        <textarea class="form-control" (click)="commentAccount()" name="comment" rows="2" style="resize: none;"></textarea>
                        <button class="btn btn-light btn-light-big mt-1" style="background-color: #b97a57; color: white;" (click)="activeUser ? sendComment() : commentAccount()">Send Comment</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
      </div>
    }
<!--  -->

  </div>
  <br><br>
<!-- Create Model Start -->
  <div class="modal fade" id="tripModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tripModalLabel">Gezi Ekle</h1>
          <button type="button" #modelCloseBtn class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" autocomplete="off" (ngSubmit)="createTrip(addForm)">
          <h5>Gezi Başlığı:</h5>
          <input type="text" class="form-control" name="title" [(ngModel)]="createTripModel.title" placeholder="Gezi başlığı giriniz.">
          <br>
          <h5>Gezi Metni:</h5>
          <textarea type="text" class="form-control" name="description" rows="3" [(ngModel)]="createTripModel.description" placeholder="Gezi metni giriniz."></textarea>
          <br>
          <h5>Gezi Kapak Fotoğrafı:</h5>
          <input type="file" name="image" (change)="selectImage($event)" class="form-control">
          @if(imagePreview){
          <br>
            <div style=" display: flex; flex-direction: row; align-items: center; gap: 20px;">
                <h6>Mevcut Resim : </h6>
            <img [src]="imagePreview" alt="" style="width: 250px; height: auto;">
            </div>
          }
          <br>
          <h5>Gezi Tagleri:</h5>
          <textarea class="form-control" [(ngModel)]="createTripModel.tags" name="name" rows="2" style="resize: none;" placeholder="Gezi taglarını aralarında boşluk bırakarak yazınız."></textarea>
          <br>
          <hr class="border-3">

          <div id="tripPhotos">
            @for (item of tripContents; track item) {
              <app-trip-content [tripCounter]="item" [tripIndex]="$index+1" (remove)="deleteTripPart($index)"></app-trip-content>
            }
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" style="margin-right: auto;" (click)="addTripPart()">Gezi Parçası Ekle</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelTrip()">İptal</button>
            <button type="submit" class="btn btn-primary">Kaydet</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- Create Model End -->

<!-- Update Model Start -->

<div class="modal fade" id="updateTripModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tripModalLabel">Geziyi Güncelle</h1>
        <button type="button" #updateModelCloseBtn class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" autocomplete="off" (ngSubmit)="updateTrip(addForm)">
        <h5>Gezi Başlığı:</h5>
        <input type="text" class="form-control" name="title" [(ngModel)]="updateTripModel.title" placeholder="Gezi başlığı giriniz.">
        <br>
        <h5>Gezi Metni:</h5>
        <textarea type="text" class="form-control" name="description" rows="3" [(ngModel)]="updateTripModel.description" placeholder="Gezi metni giriniz."></textarea>
        <br>
        <h5>Gezi Kapak Fotoğrafı:</h5>
        <input type="file" name="image" (change)="selectUpdateImage($event)" class="form-control">
        @if(updateImagePreview){
        <br>
          <div style=" display: flex; flex-direction: row; align-items: center; gap: 20px;">
              <h6>Mevcut Resim : </h6>
          <img [src]="updateImagePreview" alt="" style="width: 250px; height: auto;">
          </div>
        }
        <br>
        <h5>Gezi Tagleri:</h5>
        <textarea class="form-control" [(ngModel)]="updateTripModel.tags" name="name" rows="2" style="resize: none;" placeholder="Gezi taglarını aralarında boşluk bırakarak yazınız."></textarea>
        <br>
        <hr class="border-3">

        <div id="tripPhotos">
          @for (item of updateTripContents; track $index) {
            <app-trip-content [tripCounter]="item" [tripIndex]="$index+1" (remove)="deleteUpdateTripPart($index)"></app-trip-content>
          }
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" style="margin-right: auto;" (click)="addUpdateTripPart()">Gezi Parçası Ekle</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelTrip()">İptal</button>
          <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Model End -->

<!-- Login Model Start-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content ">
      <div class="modal-header text-center">
        <h1 class="modal-title w-100" id="loginModalLabel">Giriş Yap</h1>
        <button type="button" #loginModalCloseBtn class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="card-body">
              <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="signIn(loginForm)">
                  <div class="form-group">
                      <label for="userNameOrEmail">Kullanıcı Adı veya Email</label>
                      <input type="text" class="form-control" [(ngModel)]="loginModel.userNameOrEmail"  name="userNameOrEmail" required minlength="3">
                      <div class="invalid-feedback"></div>
                  </div>
                  <div class="form-group mt-2 position-relative">
                      <label for="">Şifre</label>
                      <input type="password" #password class="form-control" [(ngModel)]="loginModel.password" name="password" required>

                      @if (password.type==="password") {
                          <i class="fa-solid fa-eye eye" (click)="showOrHidePassword($event)"></i>
                      }@else {
                          <i class="fa-solid fa-eye-slash eye" (click)="showOrHidePassword($event)"></i>
                      }
                  </div>
                  <div class="w-100 mt-2 text-center">
                    <span class="me-2">Hesabınız Yok Mu :</span> <a href="#" data-bs-target="#registerModal" data-bs-toggle="modal">Hesap Oluştur</a>
                  </div>
                  <div class="form-group mt-2">
                      <button type="submit" class="btn btn-outline-light more-content w-100">
                          <i class="fa-solid fa-lock me-1"></i>
                          Giriş Yap
                      </button>
                  </div>
              </form>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Login Model End -->

<!-- Register Model Start-->
<div class="modal fade" id="registerModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content ">
      <div class="modal-header text-center">
        <h1 class="modal-title w-100" id="registerModalLabel">Kayıt Ol</h1>
        <button type="button" #registerModalCloseBtn class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="card-body">
              <form formValidate #registerForm="ngForm" autocomplete="off" (ngSubmit)="createUser(registerForm)">
                    <p class="mb-1">Yazar Olmak İstiyor Musunuz?</p>
                    <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                    <label class="btn btn-outline-danger w-100" for="btn-check-outlined" (click)="changeText($event)">Yazar Olmak İstemiyorum...</label>
                  <div class="form-group mt-2">
                      <label for="userNameOrEmail">Kullanıcı Adı</label>
                      <input type="text" [(ngModel)]="createUserModel.userName" class="form-control" name="userName" required minlength="3">
                      <div class="invalid-feedback"></div>
                  </div>
                  <div class="form-group mt-2">
                    <label for="userNameOrEmail">Email</label>
                    <input type="text" class="form-control" [(ngModel)]="createUserModel.email" name="userEmail" required minlength="3">
                    <div class="invalid-feedback"></div>
                  </div>

                  <div class="form-group mt-2 position-relative">
                      <label for="">Şifre</label>
                      <input type="password" #password2 [(ngModel)]="createUserModel.password" class="form-control" name="registerPassword" required>
                      @if (password2.type==="password") {
                          <i class="fa-solid fa-eye eye" (click)="showOrHidePassword($event)"></i>
                      }@else {
                          <i class="fa-solid fa-eye-slash eye" (click)="showOrHidePassword($event)"></i>
                      }
                  </div>
                  <div class="form-group mt-2 position-relative">
                    <label for="">Şifre Tekrar</label>
                    <input type="password" #password3 [(ngModel)]="createUserModel.passwordCheck" class="form-control" name="registerPasswordCheck" required>
                    @if (password3.type==="password") {
                        <i class="fa-solid fa-eye eye" (click)="showOrHidePassword($event)"></i>
                    }@else {
                        <i class="fa-solid fa-eye-slash eye" (click)="showOrHidePassword($event)"></i>
                    }
                  </div>
                  <div class="w-100 mt-2 text-center">
                    <span class="me-2">Hesabınız Var Mı :</span> <a href="#" data-bs-target="#loginModal" data-bs-toggle="modal">Giriş Yap</a>
                  </div>
                  <div class="form-group mt-2">
                      <button type="submit" class="btn btn-outline-light more-content w-100">
                          <i class="fa-solid fa-lock me-1"></i>
                          Kayıt Ol
                      </button>
                  </div>
              </form>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Register Model End -->